
html, body{
	margin: 0;
	padding:0; 
	height:100%; 
	width:100%; 
}
h2{
	font-family:"Verdana", sans-serif;
	font-size: 200%;
	font-weight: 700;
	color: #2C2C2C; 
	text-align:center;
	text-decoration: underline; 

}

p{
	font-family: "Verdana", sans-serif; 
	color: #2C2C2C; 
	font-size: 140%; 
	line-height: 180%;
	text-align: justify;
	font-weight: 300; 
}

img{
	text-align: center; 
	display: inline-block;
	position: relative; 
	float: center; 
	max-width: 100%;
	height: auto;
	width: auto; 
	margin: 30px;
	
}

.intro{
	height:100%; 
	width: 100%;  
	margin: auto;
	background-image: url("im/intro.jpeg");
	background-repeat: no-repeat;  
	background-size: cover; /*need to solve it here*/ 
	display: table;
}


.intro .inner{
	display: table-cell;
	vertical-align: middle; 
	width: 100%;
	max-width: none; 
}

.content{
	max-width: 700px; 
	margin: auto;

}

h1{
	font-family: "Verdana", sans-serif; 
	font-size: 300%; 
	font-weight: 700; 
	color:#FFF;
	text-align: center;
	padding: 2%;
	text-shadow: 0px 0px 250px #000; 
} 

.content p {
	color: #FFF; 
}

.inner{
	max-width: 600px; 
	margin: auto;
	font-size: 170%;
	line-height: 1.6; 
	padding: 10px;
	top:0;
	} 

/*---- Navigation ----*/ 

.dropbtn{
	background-image: url(im/yuam.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
	cursor: pointer; 
	opacity: 0.7;
	padding: 30px;
	margin: 50px; 
	height: 110%; 
	border:none; 
}

.dropbtn:hover{
	opacity: 0.5;
}

.dropdown{
	position: relative;
	display: inline-block;

}

.dropdown-content{
	display: none; 
	position: absolute; 
	background-color: #f1f1f1; 
	min-width: 160px; 
	z-index:1;
	
}

.dropdown-content ul{

  list-style-type: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  

}

.dropdown-content a:hover {background-color: #ddd; }

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*---- Navigation ----*/ 

#about{
	width: 100%; 
	padding-bottom: 100px; 
}
.left{
	width: 50%; 
	height: 200px; 
	float: left; 
	margin: 70px; 
	
}

.right{
	width: 30%; 
	height: 200px; 
	float: left; 
	padding-bottom: 20%;  


}


.right img{
	width: 400px; 
	height: 400px; 
	vertical-align: middle;
}

.main{
	float: left; 
}



/*--- Working on Gallery ---*/ 

.gallery{
	margin-top: 100px;  
	margin-left: 150px; 
}

.gallery > .column {
	padding: 0 8px; 
}

/*this part I don't understand very well*/ 

.gallery: after{
	content: ""; 
	display: table; 
	clear: both;
}

.column{
	float: left; 
	width: 25%; 
}

/*--- The Modal ---*/ 

/*--- Modal Background ---*/ 

.modal{
	display: none; 
	position:fixed;
	z-index: 1; 
	padding-top: 100px; 
	left:0;
	top:0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: black; 
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto; 
  padding: 0;
  width: 70%;
  max-width: 1200px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*--- Parallax ---*/ 


.services{
 	color: #fff;
 	margin-top: 50px;
 	padding: 40px;
 	perspective: 1px; 
 	transform-style: preserve-3d;
 	height: 100%; 
 	overflow: scroll; 
 	overflow-x: hidden;
 	font-family: "Helvetica";
 	float: left;
}


.contact{
	box-sizing: border-box;
	min-height: 100vh; 
	padding: 30vh 0 5vh; 
	position: relative; 
	transform-style: inherit;
	width: 100vw; 
}

.contact p{
	margin-top: -150px; 
	font-weight: normal; 
	color: black; 
	font-size: 50px; 
	letter-spacing: 0.2em;
	text-align: center;
	margin:0;
	padding: 1em 0; 
}

.contact, .contact:before{
	background: 50% 50%/cover;

}

.contact::before{
	bottom: 0; 
	content: "";
	left: 0; 
	position:absolute;
	right:0;
	top:0;
	display: block;
	background-image: url(im/3.jpg);
	opacity:0.7;
	background-size: cover; 
	transform-origin: center center 0; 
	transform: translateZ(-1px) scale(2);
	z-index: -1; 
	min-height: 100vh; 
}

.info{
	float:left;
	margin-top:40px;
	margin-left: 45%;
}

.info p{
	font-family: "Helvetica"; 
	font-size: 30px; 
	font-weight: normal;
	text-align: center; 
}


footer ul{
    float: left; 
    margin-left: 35%; 
 }   

footer ul li{
	list-style: none; 
	display: inline;

}

footer ul li img{
 	height: 70px; 
 	width: 70px; 

}














